.horizontal-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

}

.horizontal-cards ion-card {
    flex: 0 0 auto;
    margin-right: 10px;
}

.logout-item:hover {
    cursor: pointer;
}

.course-item {
    margin-bottom: 16px;
}